<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shortcut</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Cut and share your favorite podcast on social media">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
  <script id="shortcut-data">
    window.__latestEpisodes = ${data.latestEpisodes};
    window.__inactiveEpisodes = ${data.inactiveEpisodes};
  </script>
  <div id="app"></div>
  <script src="/assets/app.js"></script>
</body>
</html>
