'use strict';

import baseConfig from './base';

let config = {
  appEnv: 'dist',
  authServer: 'http://localhost:3000',
  apiEndpoint: 'http://localhost:3000',
  dataBucket: 'http://localhost:8080/',
  analyticsPropertyId: '' // your gAnalytics ID
};

export default Object.freeze(Object.assign({}, baseConfig, config));
