COOKIE_SECRET=abcdefghijk

TWITTER_KEY=YOURKEY
TWITTER_SECRET=YOURSECRET
TWITTER_CALLBACK=/auth/twitter/callback

FACEBOOK_ID=YOURID
FACEBOOK_SECRET=YOURSECRET
FACEBOOK_CALLBACK=YOURCALLBACK

# Default AWS credentials
AWS_REGION=xx-xxxx-n
AWS_ACCESS_KEY_ID=ABC
AWS_SECRET_ACCESS_KEY=ABC
AWS_S3_BUCKET_NAME=ABC

API_HASH=ABC123

# Only provide these if you want to pw protect the (beta) site
BETA_LOGIN=
BETA_PW=

CLOUDFRONT_KEY_STRING=""
CLOUDFRONT_KEY_BASE64=
CLOUDFRONT_KEY_ID=
CLOUDFRONT_URL=https://<ID>.cloudfront.net/

# Array of bad episodes separated by commas, i.e. [443, 300]
BAD_EPISODES=[]
DATA_BUCKET=http://localhost:8080/
