@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

$helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
$open-sans: 'Open Sans', sans-serif;

$bg-color: white;
$transcript-text-color: black;
$disabled-color: #bdbdbd;
$body-color: #444;
$body-background: #ececec;
//http://www.colourlovers.com/palette/4514856/Bubbly_Brat
$primary-color: #1F97C9;
$primary-color-light: lighten($primary-color, 30%);
$primary-color-post-compression: #1F97C9;
$selection-color: #ffffc4;
$primary-color-button: #f66048;
$secondary-color: #DD4669;
$secondary-color-lighter: lighten($secondary-color, 30%);
$tertiary-color: #AFBF14;
$success-green: #4ae31b;
$break-xs: 767px;
$break-s: 992px;
$break-m: 1200px;
$break-l: 1440px;

$break-h-s: 720px;

// flexboxgrid breakpoints: https://github.com/kristoferjoseph/flexboxgrid/blob/master/src/css/flexboxgrid.css#L19
// @custom-media --sm-viewport only screen and (min-width: 48em);
// @custom-media --md-viewport only screen and (min-width: 64em);
// @custom-media --lg-viewport only screen and (min-width: 75em);
// $break-s: 48em;
// $break-m: 64em;
// $break-l: 75em;

$previewcontainer-height: 490px;
$preview-video-width: 490px;
$canvas-dimension: 370px;
$rendered-video-dimension: 400px;
$navbar-height: 70px;
$navbar-height-sm: 55px;
$button-height: 45px;

$highlight-color: #ffe844;

$subhead-height: 50px;

$transcript-font-size: 16px;
$transcript-line-height: 24px;
