@font-face {
  font-family: 'Flama-semicondensed';
  src: url('../fonts/flamasemicondensed-basic-webfont.woff') format('woff'),
       url('../fonts/flamasemicondensed-basic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flama-semicondensed-book';
  src: url('../fonts/flamasemicondensed-book-webfont.woff') format('woff'),
       url('../fonts/flamasemicondensed-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
