@import '_variables';

.loginrow-component {
  > li:hover {
    background-color: rgba(0,0,0,0);
  }
  cursor: pointer;
  h3 {
    padding: 0px;
    padding-left: 0px;
    color: $secondary-color-text !important;
  }

  a {
    text-decoration: none;
    display: block;
  }
  svg {
    fill: $secondary-color-text !important;
  }
  .logout {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 11px;
    right: 20px;
  }
}
