@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo_slab_700-webfont.woff') format('woff'),
       url('../fonts/museo_slab_700-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
