@import '_variables';

.navbar-component {
  .title-bar {
    flex: 1;
  }

  .shortcut-logo {
    height: 40px;

    @media screen and (max-width:$break-s) {
      display: none !important;
    }
  }

  .nav-buttons {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 60px;
  }
}

.nav-drawer > div {
  background-color: $secondary-color;
  color: $secondary-color-text;
  width: 280px;

  hr {
    background-color: $secondary-color-light;
  }

}
